/*.main-page{*/
/*    max-width: 1080px;*/
/*}*/
html, body {
  height: 100%;
}


.rightScreen {
    display: flex;
    padding-left: 260px;
    height: 100%;
    /*min-height: 100vh;*/
    flex-grow: 1;
    width: 100%;
    background-color: rgb(245, 245, 245);
    /*justify-content: space-around;*/
}

.elementsMainArea {
    min-width: 600px;
    width: 860px;
    /*height: max-content;*/
    display: flex;
    flex-direction: column;
    /*min-height: 100vh;*/
    height:100%;
    background-color: #f8f8f8;

}

.result-area {
    background-color: rgb(237, 238, 240);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    /*min-height: 100vh;*/
    height: 100vh;
    justify-content: space-between;
}

.outputText {
    /*    change text color to blue*/
    color: #467fd7;
}

.sec-name {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    height: fit-content;
}

.forEachColumn {
    gap: 20px 0;
    padding: 10px 20px;
}
.drop-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dropdown-area{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100vh;
    justify-content: space-between;
    min-width: 600px;
}

.form-select{
    width: 100%;
}

.form-select option{
    max-width: 200px;
    width :200px;
}

.option-name{
/*    text italic*/
    font-style: italic;
}

.divider {
    /*    style="height:1.5px;width:95%;border-width:0;color:gray;background-color:gray" center position*/
    height: 1.5px;
    width: 95%;
    border-width: 0;
    color: gray;
    background-color: gray;
    position: center;
    margin: 1.5rem auto auto;
}

.form-label{
/*    smaller text*/
    font-size: 0.8rem;
    width: 100%;
}

.form-group {
    text-align: center;
    vertical-align: middle;
    background-color: rgb(237, 237, 237);
    width: 100%;
}

.form-range {
    width: 70%;
}

.boxInput {
    /*add a greay thick border*/
    border: 2px solid #f6f6f6;
    background-color: white;
    resize: none;
}

.saveForm {
    width: 30%;
}

/*make h3 tag bold text*/
h6 {
    font-weight: bolder;
}


.chartCard {
    display: grid;
    width: 100%;
    /*grif has 2 rows 1 column*/
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "."
    ".";
    height: 40vh;
    justify-items: center;
    align-items: center;
}

.BarchartBox {
    width: 90%;
    position: relative;
    /*box-sizing: border-box;*/
    height: 40vh;
    margin: 20px;
    border: solid 1px rgb(199, 199, 199);
    background: rgb(251, 251, 251);
}

.slider-area{

/*    make a 3x3 grid that's 90% width and dynamically adjust height*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "slider1 slider2 slider3"
    "slider4 slider5 slider6"
    "slider7 slider8 slider9";
    width: 90%;
    height: 100%;
    justify-items: center;
    align-items: center;
}

.critic-slider{
    align-items: center;
    width: 100%;
}

.left-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.right-button{
    display: flex;
    /*align item to right side of the div*/
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.legend-info {
    margin: 1%;
    width: 50%;
    padding: 0 20px;
    border: solid 1px rgb(199, 199, 199);
    background: rgb(251, 251, 251);
}

.result-text{
    width: 60%;
}

.btn {
    width: 100%;;
}

.btn-success[disabled]{
    background-color: #b7bcc4 !important;
    border-color: #b7bcc4 !important;
    color: white;
}

.btn-primary, .btn-success {
    background-color: #00B800 !important;
    border-color: #00B800 !important;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none;
}

.btn-secondary {
    /*background-color: #6c757d !important;;*/
    border-color: #2A2D34 !important;;
    width: 50%;
    color: #2A2D34;

}

@media screen and (min-width: 1930px) {
    .navbar {
        display: flex;
        flex-direction: column;
        background-color: rgb(219, 219, 219);
        width: 260px;
    }
}