/*.main-page{*/
/*    max-width: 1080px;*/
/*}*/



.rightScreen {
    display: flex;
    padding-left: 260px;
    height: 100%;
    min-height: 100vh;
    flex-grow: 1;
    width: 100%;
    background-color: rgb(245, 245, 245);
    /*justify-content: space-around;*/
}

.elementsMainArea {
    min-width: 600px;
    width: 860px;
    /*height: max-content;*/
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height:100%;

}

.result-area {
    background-color: rgb(250, 250, 250);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

.outputText {
    /*    change text color to blue*/
    color: #467fd7;
}

.sec-name {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    height: fit-content;
}

.forEachColumn {
    gap: 20px 0;
    padding: 10px 20px;
}
.drop-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-group{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    justify-content: space-between;
}

.form-select{
    width: 90%;
}

.form-select option{
    max-width: 200px;
    width :200px;
}

.elementName {
    font-size: large;
    font-weight: bolder;
    height: auto;
    text-align: left;
    vertical-align: middle;
    margin-bottom: 10px;
}

.divider {
    /*    style="height:1.5px;width:95%;border-width:0;color:gray;background-color:gray" center position*/
    height: 1.5px;
    width: 95%;
    border-width: 0;
    color: gray;
    background-color: gray;
    position: center;
    margin: 1.5rem auto auto;
}

.form-group {
    text-align: center;
    vertical-align: middle;
    background-color: rgb(237, 237, 237);
}

.form-range {
    width: 70%;
}

.boxInput {
    /*add a greay thick border*/
    border: 2px solid #f6f6f6;
    background-color: white;
    resize: none;
}

.saveForm {
    width: 30%;
}

/*make h3 tag bold text*/
h6 {
    font-weight: bolder;
}


.chartCard {
    display: grid;
    width: 100%;
    /*grif has 2 rows 1 column*/
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "."
    ".";
    height: 100%;
    justify-items: center;
    align-items: center;
}

.BarchartBox {
    width: 90%;
    position: relative;
    /*box-sizing: border-box;*/
    /*height: 90%;*/
    margin: 20px;
    border: solid 1px rgb(199, 199, 199);
    background: rgb(251, 251, 251);
}

.radarChartCard {
    display: flex;
    height: 90%;
    width: 96%;
    justify-content: space-evenly;
}

.radarChartBox {
    margin: 1%;
    border: solid 1px rgb(199, 199, 199);
    background: rgb(251, 251, 251);
    width: 50%;
}

.legend-info {
    margin: 1%;
    width: 50%;
    padding: 0 20px;
    border: solid 1px rgb(199, 199, 199);
    background: rgb(251, 251, 251);
}

.result-text{
    width: 60%;
}

.btn {
    width: 100%;;
}

.btn-primary {
    background-color: #007bff !important;
    border-color: #007bff !important;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none;
}

.btn-secondary {
    background-color: #6c757d !important;;
    border-color: #6c757d !important;;
    width: 50%;
}

@media screen and (min-width: 1930px) {
    .navbar {
        display: flex;
        flex-direction: column;
        background-color: rgb(219, 219, 219);
        width: 260px;
    }
}