.text-black {
    text-align: center;
}

a:link {
    text-decoration: none;
}


a:visited {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
}


a:active {
    text-decoration: none;
}

.navbar {
    padding: 0 0;
    display: flex;
    position: fixed;
    height: 100%;
    flex-direction: column;
    background-color: rgb(42, 45, 52);
    width: 260px;
    justify-content: center;

    /*flex: 0 0 260px;*/
}

.tab-content > .tab-pane {
    display: block;
    height: 0;
    overflow: hidden;
}

.tab-content > .tab-pane.active {
    height: auto;
}

.menu-list {
    width: 100%;
}

.bi {
    width: auto;
}

.nav-link1 {
    height: 50%;
    line-height: 34%;
    padding: 0 0 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-item {
    padding-top: 11px;
}

.nav-link {
    font-size: 45px;
    color: #212529;
    font-weight: bold;
    padding: 0 40px 0 30px;
    /*margin-bottom: -7px;*/
    /*   put underline under text*/
}

/*.nav-link:active, .nav-link:focus{*/
/*    text-decoration: underline;*/
/*    text-decoration-color: #00b700; !important;*/
/*    text-decoration-thickness: 4px;*/
/*    text-underline-offset: 15px;*/
/*}*/

/*.nav-item :hover{*/
/*    color: #00b700;*/
/*}*/

/*.nav-item :active, .nav-item :focus{*/
/*    color: #00b700; !important;*/
/*}*/

.nav-tabs .nav-item .nav-link {
    /*background-color: #0080FF;*/
    color: #212529;
    border: 0;
    padding-bottom: 10px;
    padding-right: 50px;
}

.nav-tabs .nav-item .nav-link.active {
    color: #00b700;
    border: 0;
    background-color: #f3f4f6;
    border-bottom: #00b700;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    padding-bottom: 10px;
    padding-right: 50px;
}


/*.nav-item{*/
/*    padding: 0 0; !important;*/
/*    margin: 0 0;!important;*/
/*}*/


.bi {
    /*    white color*/
    color: #fff;
    font-size: 1.5rem;
}

.link-text {
    padding-left: 5%;
    padding-top: 5%;
    /*text color white*/
    color: #fff;
}

.active-link {
    background-color: #f5f5f5;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    /*    make text color to #2A2D34*/

}

.active-text, .active-bi {
    color: #2A2D34;
}

.user-text {
    color: #dbdbdb;
}

.user-info {
    /*put two links in the center*/
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;

}