body {
    height: 100%;
    box-sizing: border-box;
}

.rightScreen {
    display: flex;
    padding-left: 260px;
    height: 100%;
    min-height: 100vh;
    flex-grow: 1;
    width: 100%;
    background-color: rgb(245, 245, 245);
    justify-content: space-around;
}

.elementsMainArea {
    min-width: 600px;
    height: 100%;
    max-width: 860px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #edeef0;
}

.slider-submit-group{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding: 30px 0;
}

.slider-menu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "element1 element2"
    "element3 element4"
    "element5 element6"
    "element7 element8";
}


.outputText {
    /*    change text color to blue*/
    color: #467fd7;
}

.sec-name {
    width: 100%;
    grid-column: 1 / 3;
    /*grid-row: 1 / 2;*/
    height: fit-content;
}

.forEachColumn {
    /*gap: 15px 0;*/
    padding: 0 38px;
}



.elementName {
    font-size: large;
    font-weight: bolder;
    height: auto;
    text-align: left;
    vertical-align: middle;
    margin-bottom: 10px;
}

.divider {
    /*    style="height:1.5px;width:95%;border-width:0;color:gray;background-color:gray" center position*/
    height: 2px;
    width: 100%;
    border-width: 0;
    color: #c5c7c9;
    background-color: #c8cacc;
    position: center;
    margin: 20px auto auto;
}

.divider1 {
    /*    style="height:1.5px;width:95%;border-width:0;color:gray;background-color:gray" center position*/
    height: 2px;
    width: 100%;
    border-width: 0;
    color: #c5c7c9;
    background-color: #c8cacc;
    position: center;
    /*margin: 20px auto auto;*/
    /*margin-bottom: 20px;*/
}


.result-area {
    background-color: rgb(245, 246, 248);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 90vh;
    height: 100%;
    padding: 0 0;
    border-left: 2px solid;
    border-color: #c5c7c9;
}

.form-group {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(245, 246, 248);
}

.slider-name-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.form-label{
    margin: auto;
}


.form-range {
    width: 70%;
}

/*make h3 tag bold text*/
h6 {
    font-weight: bolder;
}


.chartCard {
    display: grid;
    width: 100%;
    /*grif has 2 rows 1 column*/
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "."
    ".";
    height: 100%;
    justify-items: center;
    align-items: center;
}

.BarchartBox {
    width: 90%;
    position: relative;
    /*box-sizing: border-box;*/
    height: 40vh;
    margin: 20px;
    border: solid 1px rgb(199, 199, 199);
    background: rgb(251, 251, 251);
}

.radarChartCard {
    position: relative;
    display: flex;
    height: 35vh;
    width: 90%;
    justify-content: space-between;
}

.radarChartBox {
    position: relative;
    margin: 1%;
    border: solid 1px rgb(199, 199, 199);
    background: rgb(251, 251, 251);
    width: 50%;
}

.saveForm {
    margin: 1%;
    width: 50%;
    padding: 0 20px;
    border: solid 1px rgb(199, 199, 199);
    background: rgb(251, 251, 251);
}


.btn {
    width: 100%;;
}
.bi-three-dots-vertical {
    align-self: flex-end;
    font-size: 10px;

}

.btn-success{
    width: 90%;
}

.btn-success[disabled]{
    background-color: #b7bcc4 !important;
    border-color: #b7bcc4 !important;
    color: white;
}

.btn-primary, .btn-success {
    background-color: #00B800 !important;
    border-color: #00B800 !important;
}



.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none;
}

.btn-secondary {
    /*background-color: #6c757d !important;;*/
    border-color: #2A2D34 !important;;
    width: 50%;
    color: #2A2D34;

}

@media screen and (max-width: 1543px) {
    .result-form{
        display: flex;
        flex-direction: column;
    }
    .btn{
        width: 100%;
    }
}
@media screen and (max-width: 1543px) {
    .result-form{
        display: flex;
        flex-direction: column;
    }
    .btn{
        width: 100%;
    }
}