.homePage {
    padding-top: 20px;
}

.container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-areas:
    ". . . . .";
}

.elementsMainArea {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    ". .";
}

.forEachColumn {
    gap: 100px 0;
}

.elementName {
    font-size: large;
    font-weight: bolder;
    height: auto;
    text-align: left;
    vertical-align: middle;
    border: 3px solid #fff;
    margin-bottom: 2px;
}

.form-group {
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    border: 3px solid #fff;
    background-color: #d3d3d3;
}

.form-range {
    display: inline;
    float: left;
    width: 70%;
    margin-top: 2%;
    margin-left: 5%;
}

.boxInput{
    border-style:solid;
    background-color: #eee;
}

.result-area{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chartCard {
    width: 100%;
}

.chartBox {
    width: 70%;
    padding: 20px;
    border-radius: 20px;
    border: solid 3px rgba(255, 26, 104, 1);
    background: white;
}
