<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='compare.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='menu_simple.css') }}">

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.0/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>FOCOS</title>
</head>

<body>
<div class="main-page px-0 flex flex-no-wrap">
    {#	<div class="navbar p-0">#}
    <div class="navbar">
        <div class="text-black w-full font-black text-white text-5xl py-10">
            FOCOS
        </div>
        <ul class="menu-list">
            <a href="planning.html" class="nav-link1">
                <div>
                    <i class="bi bi-vector-pen"></i>
                    <span class="link-text text-2xl ml-2">Plan</span>
                </div>
            </a>
            <a href="strategies.html" class="nav-link1">
                <div>
                    <i class="bi bi-ui-checks-grid"></i>
                    <span class="link-text text-2xl ml-2">Manage</span>
                </div>
            </a>
            <a href="compare.html" class="nav-link1">
                <div>
                    <i class="bi bi-terminal-split"></i>
                    <span class="link-text text-2xl ml-2">Compare</span>
                </div>
            </a>
            <a href="advanced.html" class="nav-link1 active-link">
                <div>
                    <i class="bi active-bi bi-toggles2"></i>
                    <span class="link-text active-text text-2xl ml-2">Advanced</span>
                    <br></br>
                    <span>Squash function set - {{func_type}}</span>
                </div>
            </a>
        </ul>


        <div class="menu-bottom mt-auto w-full">
            <div>
                <hr class="ml-0 mr-0 mb-2 p-0" style="height:1px;color:white;background-color:white">
            </div>
            <div class="user-info pb-12 pt-8">
                <a href="javascript:void(0)"><span class="text-l ml-2">Test User</span></a>
                <a href="{{ url_for('logout') }}"><span class="text-xl ml-2">Log Out</span></a>
            </div>
        </div>
    </div>

    <div class="main-body">
        <div class="rightScreen">
            <form class="elementsMainArea" name="main-form"
                  action="{{ url_for('UpdateSquashFunc') }}"
                  method=post
                  id=squashing_functions_list
                  enctype="multipart/form-data">
                <div class="sec-name flex-sm-column">
                    <h1 class="text-4xl font-weight-bold ml-4 pt-10">STRATEGIES</h1>
                    <hr class="divider">
                </div>
                <div class="alert-error">
                    {% for message in get_flashed_messages() %}
                        {{ message }}
                    {% endfor %}
                </div>
                <br></br>
                <div class="list-group p-6">
                    <div>
                        <br>Squash Function selected - </br>
                        <div class="drop-item">
                            <select class="form-select py-3 my-3 "
                                    style="max-width:90%;"
                                    name="f_type">
                                <option value="tanh" {% if func_type == 'tanh' %} selected {% endif %}>Tanh</option>
                                <option value="sig" {% if func_type == 'sig' %} selected {% endif %}>Sigmoid</option>
                                <option value="Bivalent" {% if func_type == 'Bivalent' %} selected {% endif %}>Bivalent</option>
                                <option value="Trivalent" {% if func_type == 'Trivalent' %} selected {% endif %}>Trivalent</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div style="position:relative;bottom: 450px;left: 50px;">
                    <br>Current weights file used - {{weights}} </br>
                </div>

                <div style="position:relative;bottom: 400px;left: 50px;">
                    <label for="file">Update weights file -</label>
                    <input id="file" name="file" type="file" />
                </div>

                <div>
                    <button id="SetParam" type="Submit" class="btn btn-success btn-compare py-2" name="SetParam"
                            value="SetParam">
                        SET PARAMETERS
                    </button>
                </div>
            </form>
            <div class="container-fluid result-area" id="result-area">
                <div class="sec-name flex-sm-column">
                    <ul class="nav nav-tabs ml-4 pt-2" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="output-tab" data-toggle="tab" href="#output" role="tab"
                               aria-controls="output" aria-selected="true">INFO</a>
                        </li>
                    </ul>
                    <hr class="divider1">
                </div>

                <div class="tab-content" style="background-color: #fdfdfd" id="myTabContent">
                    <div class="tab-pane fade show active chartCard pl-16" id="output" role="tabpanel"
                         aria-labelledby="output-tab" style=" display:none;">
                    </div>
                    <div class="info-tab">
                        <div class="result-item pt-4">
                            <h5 class="result-text text-xl" style="font-weight: bold; font-style: italic">SQUASHING FUNCTIONS</h5>
                        </div>
                        <div class="text-group">
                            <h3 class="result-text text-xl" style="font-weight: bold;">Tanh or Tangent function</h3>
                            <h4 class="result-text text-xl">By way of analogy with the usual tangent

                                tanz=sin(z)/cos(z), 	

                               the hyperbolic tangent is defined as
                               
                               tanhz	=	sinh(z)/cosh(z)	
                               
                                   =	(e^z-e^(-z))/(e^z+e^(-z))	
                               
                                   =	(e^(2z)-1)/(e^(2z)+1), 
                               
                               where sinh(z) is the hyperbolic sine and cosh(z) is the hyperbolic cosine.
                            
                               <br></br>

                               SOURCE - https://mathworld.wolfram.com/HyperbolicTangent.html</h4>
                        </div>

                        <div class="text-group">
                            <h3 class="result-text text-xl" style="font-weight: bold;">Sigmoid</h3>
                            <h4 class="result-text text-xl">The sigmoid function or logistic function, is the function y=1/(1+e^(-x)) used as Squashing.
                            <br></br>
                            SOURCE - https://mathworld.wolfram.com/SigmoidFunction.html
                            </h4>
                        </div>
                        <div class="text-group">
                            <h3 class="result-text text-xl" style="font-weight: bold;">Bivalent</h3>
                            <h4 class="result-text text-xl">Bivalent of a number x, denoted as B(x) is defined as <br></h4br> 
                                B(x) = 0 if x > 0 
                                
                                else 
                                
                                B(x) = 1 if x > 1
                            </h4>
                        </div>
                        <div class="text-group">
                            <h3 class="result-text text-xl" style="font-weight: bold;">Trivalent</h3>
                            <h4 class="result-text text-xl">Trivalent of a number x, denoted as T(x) is defined as <br></h4br> 
                                T(x) = 0 if x = 0 
                                else if x > 0 T(x) = 1 else
                                T(x) = -1
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>