<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='compare.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='menu_simple.css') }}">

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.0/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>FOCOS</title>
</head>

<body>

<div class="main-page px-0 flex flex-no-wrap">
    {#	<div class="navbar p-0">#}
    <div class="navbar">
        <div class="text-black w-full font-black text-white text-5xl py-10">
            FOCOS
        </div>
        <ul class="menu-list">
            {#            <a href="javascript:void(0)" class="nav-link">#}
            {#                <div>#}
            {#                    <i class="bi bi-arrow-down-right-circle-fill"></i>#}
            {#                    <span class="link-text text-2xl ml-2">Start</span>#}
            {#                </div>#}
            {#            </a>#}
            {#			<a href="javascript:void(0)" class="nav-link1">#}
            {#				<div>#}
            {#					<i class="bi bi-x-circle-fill"></i>#}
            {#					<span class="link-text text-2xl ml-2">Explore</span>#}
            {#				</div>#}
            {#			</a>#}
            <a href="planning.html" class="nav-link1">
                <div>
                    <i class="bi bi-vector-pen"></i>
                    <span class="link-text text-2xl ml-2">Plan</span>
                </div>
            </a>
            <a href="strategies.html" class="nav-link1">
                <div>
                    <i class="bi bi-ui-checks-grid"></i>
                    <span class="link-text text-2xl ml-2">Manage</span>
                </div>
            </a>
            <a href="compare.html" class="nav-link1 active-link">
                <div>
                    <i class="bi active-bi bi-terminal-split"></i>
                    <span class="link-text active-text text-2xl ml-2">Compare</span>
                </div>
            </a>
            <a href="advanced.html" class="nav-link1">
                <div>
                    <i class="bi bi-toggles2"></i>
                    <span class="link-text text-2xl ml-2">Advanced</span>
                    <br></br>
                    <span class="link-text">Squash function set - {{ func_type }}</span>
                </div>
            </a>
        </ul>


        <div class="menu-bottom mt-auto w-full">
            <div>
                <hr class="ml-0 mr-0 mb-2 p-0" style="height:1px;color:white;background-color:white">
            </div>
            <div class="user-info pb-12 pt-8">
                <a href="javascript:void(0)"><span class="text-l ml-2">{{userid}}</span></a>
                <a href="{{ url_for('logout') }}"><span class="text-xl ml-2">Log Out</span></a>
            </div>
        </div>
    </div>
    {#	</div>#}

    <div class="main-body">
        <div class="rightScreen">
            <form class="elementsMainArea" name="main-form"
                  action="{{ url_for('compare_strategies') }}"
                  method=post
                  id=strategies_to_compare>
                <div class="sec-name flex-sm-column">
                    <h1 class="text-4xl font-weight-bold ml-4 pt-10">STRATEGIES</h1>
                    <hr class="divider">
                </div>

                {#			<div class="forEachColumn">#}
                <div class="list-group p-6">
                    <div>
                        {% for idx in range(entries|length) %}
                            <div class="drop-item">
                                {#						<label for="strategies{{ idx }}">Option {{ idx }}: </label>#}
                                <select class="form-select py-3 my-3 "
                                        style="max-width:90%; aria-label:form-select example"
                                        name="strategies{{ idx }}">
                                    <option value="none" selected disabled hidden>Choose one option</option>
                                    {% for entry in entries %}
                                        <option value="{{ entry.name }}">{{ entry.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% endfor %}
                    </div>

                    <div>
                        <button id="compare" type="submit" class="btn btn-success btn-compare py-2" name="Compare"
                                value="Compare" onclick="showDiv()">
                            COMPARE
                        </button>
                    </div>
                </div>
                {#			</div>#}
            </form>
            <script>
                let input = document.querySelector(".elementsMainArea");
                let button = document.querySelector(".btn");

                button.disabled = true; //setting button state to disabled

                input.addEventListener("change", stateHandle);

                function stateHandle() {
                    if (document.querySelector(".elementsMainArea").value === "") {
                        button.disabled = true; //button remains disabled
                    } else {
                        button.disabled = false; //button is enabled
                    }
                }
            </script>
            <script>
                function showDiv() {
                    document.getElementById('output').style.display = "";
                    document.getElementById('result-form').style.display = "";
                }
            </script>

            <div class="container-fluid result-area" id="result-area">
                <div class="sec-name flex-sm-column">
                    <ul class="nav nav-tabs ml-4 pt-2" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="output-tab" data-toggle="tab" href="#output" role="tab"
                               aria-controls="output" aria-selected="true">OUTPUT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="info-tab" data-toggle="tab" href="#info" role="tab"
                               aria-controls="info" aria-selected="false">INFO</a>
                        </li>
                    </ul>
                    <hr class="divider1">
                </div>

                <div class="tab-content" style="background-color: #fdfdfd" id="myTabContent">
                    <div class="tab-pane fade show active chartCard pl-16" id="output" role="tabpanel"
                         aria-labelledby="output-tab" style=" display:none;">
                        <div class="chartCard" id="result-here">
                            <div class="radarChartCard">
                                <div class="graph-labels">
                                    <div class="result-item pt-4">
                                        <h5 class="result-text" style="font-weight: bold">HRO PRINCIPLES</h5>
                                    </div>
                                    <div class="result-item pt-4">
                                        <h5 class="result-text">P1:</h5>
                                        <h5 class="result-text">Deference to Expertise</h5>
                                    </div>

                                    <div class="result-item pt-4">
                                        <h5 class="result-text">P2: </h5>
                                        <h5 class="result-text">Commitment to Resilience</h5>
                                    </div>
                                    <div class="result-item pt-4">
                                        <h5 class="result-text">P3: </h5>
                                        <h5 class="result-text">Sensitivity to Operations</h5>

                                    </div>
                                    <div class="result-item pt-4">
                                        <h5 class="result-text">P4: </h5>
                                        <h5 class="result-text">Reluctance to Simplify</h5>

                                    </div>
                                    <div class="result-item  pt-4 pb-2">
                                        <h5 class="result-text">P5: </h5>
                                        <h5 class="result-text">Preoccupation With Failure</h5>
                                    </div>
                                </div>

                                <div class="radarChartBox">
                                    <canvas id="radarChart" class="p-2"></canvas>
                                </div>
                            </div>
                            <div class="BarchartBox">
                                <canvas id="barChart" class="p-1"></canvas>
                                <script>
                                    var CHART_COLORS = [
                                        'rgb(255, 99, 132)', //red
                                        'rgb(54, 162, 235)', //blue,
                                        'rgb(75, 192, 192)', //green
                                        'rgb(255, 159, 64)', //orange
                                        'rgb(255, 205, 86)' //yellow
                                    ];
                                    // setup
                                    var principles =
                                    {{ principles|tojson }}
                                    for (let idx = 0; idx < principles.length; idx++) {
                                        principles[idx] = "P" + (idx + 1).toString() + ": " + principles[idx]
                                    }

                                    var datasets = []
                                    var labels =
                                    {{ names|tojson }}
                                    if (labels === null)
                                        labels = ""
                                    //console.log({{ names|tojson }})
                                    //console.log({{all_effects}})
                                    var all_effects =
                                    {{ all_effects }}
                                    for (let idx = 0; idx < all_effects.length; idx++) {
                                        var effects = all_effects[idx]
                                        var label = labels[idx]
                                        //console.log(label)
                                        datasets.push({
                                            label: label,
                                            data: effects,
                                            backgroundColor: CHART_COLORS[idx],
                                            borderColor: CHART_COLORS[idx],
                                            borderWidth: 1
                                        })

                                    }
                                    var data = {
                                        labels: principles,
                                        datasets: datasets
                                    };

                                    // config
                                    var config = {
                                        type: 'bar',
                                        data,
                                        plugins: [ChartDataLabels],
                                        options: {
                                            responsive: true,
                                            maintainAspectRatio: false,
                                            x: {
                                                max: 100,
                                            },
                                            plugins: {
                                                legend: {
                                                    display: false
                                                },
                                                datalabels: {
                                                    color: 'white',
                                                    font: {
                                                        size: 20,
                                                    },
                                                    anchor: (context) => {
                                                        const anchor = [];
                                                        if (context.dataset.data[context.dataIndex] >= 0) {
                                                            anchor.push('end');
                                                        } else {
                                                            anchor.push('start');
                                                        }
                                                        return anchor;
                                                    },
                                                    align: (context) => {
                                                        const align = [];
                                                        if (context.dataset.data[context.dataIndex] >= 0) {
                                                            align.push('start');
                                                        } else {
                                                            align.push('end');
                                                        }
                                                        return align;
                                                    },
                                                }
                                            },
                                            events: [],
                                            indexAxis: 'y',
                                        },
                                    };

                                    // render init block
                                    var myChart = new Chart(
                                        document.getElementById('barChart'),
                                        config
                                    );
                                </script>
                                <script>
                                    var principles =
                                    {{ principles|tojson }}
                                    for (let idx = 0; idx < principles.length; idx++) {
                                        principles[idx] = "P" + (idx + 1).toString() //+ ": " + principles[idx]
                                    }

                                    var datasets1 = []
                                    var labels =
                                    {{ names|tojson }}
                                    if (labels === null)
                                        labels = ""
                                    //console.log({{ names|tojson }})
                                    //console.log({{all_effects}})
                                    var all_effects =
                                    {{ all_effects }}
                                    for (let idx = 0; idx < all_effects.length; idx++) {
                                        var effects = all_effects[idx]
                                        var label = labels[idx]
                                        //console.log(label)
                                        datasets1.push({
                                            label: label,
                                            data: effects,
                                            fill: false,
                                            backgroundColor: CHART_COLORS[idx],
                                            borderColor: CHART_COLORS[idx],
                                            backgroundColor: CHART_COLORS[idx],
                                            borderColor: CHART_COLORS[idx],
                                            pointHoverBackgroundColor: '#fff',
                                            pointHoverBorderColor: 'rgb(255, 99, 132)'
                                        })

                                    }
                                    var data1 = {
                                        labels: principles,
                                        datasets: datasets1
                                    };

                                    var config1 = {
                                        type: 'radar',
                                        data: data1,
                                        options: {
                                            {#responsive: true,#}
                                            maintainAspectRatio: false,
                                            scales: {
                                                r: {
                                                    pointLabels: {
                                                        display: true // don't hide the labels around the radar chart
                                                    }
                                                }
                                            },
                                            scale: {
                                                min: -100,
                                                max: 100,

                                            },
                                            plugins: {
                                                legend: {
                                                    display: true
                                                },
                                            },
                                            events: [],
                                            elements: {
                                                line: {
                                                    borderWidth: 3
                                                }
                                            }
                                        },
                                    };

                                    // render init block
                                    var myChart1 = new Chart(
                                        document.getElementById('radarChart'),
                                        config1
                                    );
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="info" role="tabpanel" aria-labelledby="info-tab">
                        <div class="info-tab">
                            <div class="result-item pt-4">
                                <h5 class="result-text text-xl" style="font-weight: bold; font-style: italic">HRO
                                    PRINCIPLES</h5>
                            </div>
                            <div class="text-group">
                                <h3 class="result-text text-xl" style="font-weight: bold;">Preocupation with
                                    Failure</h3>
                                <h4 class="result-text text-xl">A mindset of precaution and prevention that treats any
                                    weakness, failure, or near-miss as a sign
                                    of potentially large-scale issues.</h4>
                            </div>

                            <div class="text-group">
                                <h3 class="result-text text-xl" style="font-weight: bold;">Reluctance to Simplify</h3>
                                <h4 class="result-text text-xl">The tendency to question assumptions, think critically,
                                    and shift perspectives in order to get a
                                    complete and nuanced picture of what is happening.</h4>
                            </div>

                            <div class="text-group">
                                <h3 class="result-text text-xl" style="font-weight: bold;">Sensitivity to
                                    Operations</h3>
                                <h4 class="result-text text-xl">The state of awareness of the employees for their
                                    intimidate tasks, as well as the overall status
                                    of the operations - technology, people, and processes.</h4>
                            </div>

                            <div class="text-group">
                                <h3 class="result-text text-xl" style="font-weight: bold;">Commitment to Resilience</h3>
                                <h4 class="result-text text-xl">The capability and attitude to quickly notice, contain,
                                    and learn from errors and use them to
                                    bounce back to normal operations.</h4>
                            </div>

                            <div class="text-group">
                                <h3 class="result-text text-xl" style="font-weight: bold;">Deference to Expertise</h3>
                                <h4 class="result-text text-xl">In case of unexpected events, decision-making power
                                    shifts to the person(s) with the most
                                    knowledge about the issue.</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <form class="save-info-area pt-2 pr-4" action="{{ url_for('compare_reset') }}" method=post
                      id="result-form" style="display: none">
                    <div class="save-message">
                        <div class="result-form">
                            <button id="reset" type="submit" class="btn btn-secondary btn-create py-2" value="Reset"
                                    name="Reset">
                                Reset
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        //stop refreshing page when click "submit" and only refresh div with id "result"
        $(document).ready(function () {
            $('#compare').click(function (e) {
                //jQuery('#practices').submit(function (e) {
                e.preventDefault();
                values = $("#strategies_to_compare").serialize()
                values += "&Submit=Submit";
                console.log(values)
                $.ajax({
                    type: "POST",
                    url: "/compare_strategies",
                    data: values,
                    success: function (response) {
                        //var result = $('<div />').append(response).find('#result-here').html();
                        $('#result-here').html($('#result-here', response).html());
                        console.log({{ all_effects|tojson }})	//These aren't changed
                    }
                });
            });
        });
    </script>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>
