<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

    {#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"#}
    {#          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">#}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"#}
    {#            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"#}
    {#            crossorigin="anonymous"></script>#}
    {#    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"#}
    {#            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"#}
    {#            crossorigin="anonymous"></script>#}
    {#    #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <title>FOCOS</title>
</head>

<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a routerLink="/" class="navbar-brand" href="#">FOCOS</a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="history">History</a>
        </li>
        <li class="nav-item">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Profile
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Account</a>
                    <a class="dropdown-item" href="#">Sign out</a>
                </div>
            </div>
        </li>
    </ul>
</nav>

<section class="homePage container-fluid">
    <h2>Interventions</h2>
    <form action="{{ url_for('slider') }}" method=post>
        <div class="elementsMainArea">
            <div class="forEachColumn">
                <div class="elementName">
                    Reframing Work Design
                </div>
                <div class="form-group">
                    <label for="Authority" class="form-label">Stop-Work Authority</label>
                    <input type="range" class="form-range" min="0" max="100" value="0" step="1" name="AuthoritySlider"
                           id="Authority" onInput="$('#AuthorityValue').html($(this).val())">
                    <p><span id="AuthorityValue">0</span></p>
                </div>


                <div class="form-group">
                    <label for="Ambivalence" class="form-label">Institutionalization Emotional Ambivalence</label>
                    <input type="range" class="form-range" min="0" max="100" value="0" step="1" name="AmbivalenceSlider"
                           id="Ambivalence" onInput="$('#AmbivalenceValue').html($(this).val())">
                    <p><span id="AmbivalenceValue">0</span></p>
                </div>

                <div class="form-group">
                    <label for="Drift" class="form-label">Managing Reliability Drift</label>
                    <input type="range" class="form-range" min="0" max="100" value="0" step="1" name="DriftSlider"
                           id="Drift" onInput="$('#DriftValue').html($(this).val())">
                    <p><span id="DriftValue">0</span></p>
                </div>
            </div>

            <div class="forEachColumn">
                <div class="elementName">
                    Reframing Relating Colleagues Peers
                </div>

                <div class="form-group">
                    <label for="Motivation" class="form-label">Institutionalize Precocial Motivation</label>
                    <input type="range" class="form-range" min="0" max="100" value="0" step="1" name="MotivationSlider"
                           id="Motivation" onInput="$('#MotivationValue').html($(this).val())">
                    <p><span id="MotivationValue">0</span></p>
                </div>

                <div class="form-group">
                    <label for="Respect" class="form-label">Fostering Social Ties and Mutual Respect</label>
                    <input type="range" class="form-range" min="0" max="100" value="0" step="1" name="RespectSlider"
                           id="Respect" onInput="$('#RespectValue').html($(this).val())">
                    <p><span id="RespectValue">0</span></p>
                </div>
            </div>


            <div class="forEachColumn">
                <div class="elementName">
                    Reframing How the Work Should Be Done
                </div>

                <div class="form-group">
                    <label for="Mindfulness" class="form-label">Practicing Individual Mindfulness</label>
                    <input type="range" class="form-range" min="0" max="100" value="0" step="1" name="MindfulnessSlider"
                           id="Mindfulness" onInput="$('#MindfulnessValue').html($(this).val())">
                    <p><span id="MindfulnessValue">0</span></p>
                </div>

                <div class="form-group">
                    <label for="Accountability" class="form-label">Fostering Sense of Accountability</label>
                    <input type="range" class="form-range" min="0" max="100" value="0" step="1"
                           name="AccountabilitySlider"
                           id="Accountability" onInput="$('#AccountabilityValue').html($(this).val())">
                    <p><span id="AccountabilityValue">0</span></p>
                </div>
            </div>


            <div class="forEachColumn">
                <div class="elementName">
                    Reframing Work Communication
                </div>

                <div class="form-group">
                    <label for="Huddle" class="form-label">Implementing Safety Huddle</label>
                    <input type="range" class="form-range" min="0" max="100" value="0" step="1" name="HuddleSlider"
                           id="Huddle" onInput="$('#HuddleValue').html($(this).val())">
                    <p><span id="HuddleValue">0</span></p>
                </div>

                <div class="form-group">
                    <label for="Incidents" class="form-label">Reporting Near-Misses/Incidents</label>
                    <input type="range" class="form-range" min="0" max="100" value="0" step="1" name="IncidentsSlider"
                           id="Incidents" onInput="$('#IncidentsValue').html($(this).val())">
                    <p><span id="IncidentsValue">0</span></p>
                </div>
            </div>


            <div class="forEachColumn">
                <div class="elementName">
                    Reframing Work Training
                </div>

                <div class="form-group">
                    <label for="Drills" class="form-label">Emergency Drills</label>
                    <input type="range" class="form-range" min="0" max="100" value="0" step="1" name="DrillsSlider"
                           id="Drills" onInput="$('#DrillsValue').html($(this).val())">
                    <p><span id="DrillsValue">0</span></p>
                </div>
                <div class="form-group">
                    <label for="Exercise" class="form-label">Tabletop Exercise</label>
                    <input type="range" class="form-range" min="0" max="100" value="0" step="1" name="ExerciseSlider"
                           id="Exercise" onInput="$('#ExerciseValue').html($(this).val())">
                    <p><span id="ExerciseValue">0</span></p>
                </div>
                <div class="form-group">
                    <label for="Learning" class="form-label">Just-In-Time-Learning</label>
                    <input type="range" class="form-range" min="0" max="100" value="0" step="1" name="LearningSlider"
                           id="Learning" onInput="$('#LearningValue').html($(this).val())">
                    <p><span id="LearningValue">0</span></p>
                </div>
                <div class="form-group">
                    <label for="Debriefings" class="form-label">Post-Events Debriefings</label>
                    <input type="range" class="form-range" min="0" max="100" value="0" step="1" name="DebriefingsSlider"
                           id="Debriefings" onInput="$('#DebriefingsValue').html($(this).val())">
                    <p><span id="DebriefingsValue">0</span></p>
                </div>
            </div>
            <input type="reset" value="Reset" onClick="window.location.reload()">
            <input type="submit" value="Submit">
        </div>
    </form>
</section>

<section class="homePage result-area">
    <h2>Results</h2>

    <div class="chartCard">
        <div class="chartBox">
            <canvas id="barChart"></canvas>
        </div>

        <div class="chartBox">
            <canvas id="radarChart"></canvas>
        </div>
    </div>

    <script>
        // setup
        const data = {
            labels: ['Deference to Expertise', 'Commitment to Resilience', 'Sensitivity to Operations', 'Reluctance to Simplify ', 'Preoccupation With Failure'],
            datasets: [{
                label: 'Change of Intervention',
                data: [-14, 12, 6, 9, 12, 3],
                backgroundColor: [
                    'rgba(255, 26, 104, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(0, 0, 0, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 26, 104, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(0, 0, 0, 1)'
                ],
                borderWidth: 1
            }]
        };

        // config
        const config = {
            type: 'bar',
            data,
            options: {
                y: {
                    min: -100,
                    max: 100,
                },
                plugins: {
                    legend: {
                        display: false
                    }
                },
                events: [],
                indexAxis: 'y',
            }
        };

        // render init block
        const myChart = new Chart(
            document.getElementById('barChart'),
            config
        );
    </script>
    <script>
        const data1 = {
            labels: ['Deference to Expertise', 'Commitment to Resilience', 'Sensitivity to Operations', 'Reluctance to Simplify ', 'Preoccupation With Failure'],
            datasets: [{
                label: 'My First Dataset',
                data: [65, 59, 90, 81, 56],
                fill: false,
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgb(255, 99, 132)',
                pointBackgroundColor: 'rgb(255, 99, 132)',
                pointBorderColor: '#fff',
                pointHoverBackgroundColor: '#fff',
                pointHoverBorderColor: 'rgb(255, 99, 132)'
            }, {
                label: 'My Second Dataset',
                data: [28, 48, 40, 19, 96],
                fill: false,
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgb(54, 162, 235)',
                pointBackgroundColor: 'rgb(54, 162, 235)',
                pointBorderColor: '#fff',
                pointHoverBackgroundColor: '#fff',
                pointHoverBorderColor: 'rgb(54, 162, 235)'
            }]
        };

        const config1 = {
            type: 'radar',
            data: data1,
            options: {
                scale: {
                    min: -100,
                    max: 100,
                },
                plugins: {
                    legend: {
                        display: false
                    }
                },
                events: [],
                elements: {
                    line: {
                        borderWidth: 3
                    }
                }
            },
        };

        // render init block
        const myChart1 = new Chart(
            document.getElementById('radarChart'),
            config1
        );
    </script>
</section>

<div class="justify-content-center">
    <h2>Results</h2>
    {% for entry in entries %}
        <p class=entry>
            {{ entry.name }} <br> {{ entry.value }}
        </p>
    {% endfor %}
</div>
</section>

</body>

</html>
