<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='planning.css') }}">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <script type="text/javascript" src="../js/methods.js"></script>
    <title>FOCOS</title>
</head>

<body>

<div class="flex flex-no-wrap">
    <div class="navbar min-h-screen p-0">
        <div class="nav-content h-full flex flex-col flex-grow">
            <div class="h-16 text-black w-full flex items-center font-black text-3xl pt-4">
                FOCOS
            </div>
            <ul class="mt-20">
                <a href="javascript:void(0)" class="nav-link mb-2">
                    <i class="bi bi-arrow-down-right-circle-fill"></i>
                    <span class="text-2xl ml-2">Start</span>
                </a>
                <a href="javascript:void(0)" class="nav-link mb-2">
                    <i class="bi bi-x-circle-fill"></i>
                    <span class="text-2xl ml-2">Explore</span>
                </a>

                <a href="planning.html" class="nav-link mb-2">
                    <i class="mdi mdi-puzzle-outline"></i>
                    <i class="bi bi-vector-pen"></i>
                    <span class="text-2xl ml-2">Plan</span>
                </a>


                <a href="strategies.html" class="nav-link mb-2">
                    <i class="bi bi-ui-checks-grid"></i>
                    <span class="text-2xl ml-2">Strategies</span>
                </a>


                <a href="compare.html" class="nav-link mb-2">
                    <i class="bi bi-terminal-split"></i>
                    <span class="text-2xl ml-2">Compare</span>
                </a>

                <a href="javascript:void(0)" class="nav-link mb-2">
                    <i class="bi bi-toggles2"></i>
                    <span class="text-2xl ml-2">Critique</span>
                </a>

            </ul>


            <div class="flex flex-sm-column justify-center mt-auto mb-4 w-full">
                <div class="relative">
                    <hr class="ml-0 mr-0 mb-2 p-0" style="height:1px;color:white;background-color:white">

                    <a href="javascript:void(0)" class="nav-link">
                        <i class="mdi mdi-note"></i>
                        <span class="text-l ml-2">Test User</span>
                    </a>

                </div>
                <div class="relative">

                    <a href="javascript:void(0)" class="nav-link">
                        <i class="mdi mdi-note"></i>
                        <span class="text-xl ml-2">Log Out</span>
                    </a>

                </div>
            </div>
        </div>
    </div>


    <form action="{{ url_for('slider') }}" method=post id="practices">
        <div class="rightScreen">
            <div class="elementsMainArea max-h-screen min-h-screen min-w-600">
                <div class="sec-name flex-sm-column">
                    <h1 class="text-4xl font-weight-bold ml-4 pt-4">Safety Practices</h1>
                    <hr class="divider">
                </div>

                <div class="forEachColumn">
                    <div class="elementName">
                        <i>Reframing Work Design</i>
                    </div>
                    <div class="form-group">
                        <label for="Authority" class="form-label">Stop-Work Authority</label>
                        <div class="d-flex justify-content-center gap-5">
                            <input type="range" class="form-range" min="0" max="100" value="0" step="1"
                                   name="AuthoritySlider"
                                   id="Authority" onInput="$('#AuthorityValue').html($(this).val())">
                            <p><span id="AuthorityValue">0</span></p>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="Ambivalence" class="form-label">Institutionalizating Emotional Ambivalence</label>
                        <div class="d-flex justify-content-center gap-5">
                            <input type="range" class="form-range" min="0" max="100" value="0" step="1"
                                   name="AmbivalenceSlider"
                                   id="Ambivalence" onInput="$('#AmbivalenceValue').html($(this).val())">
                            <p><span id="AmbivalenceValue">0</span></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Drift" class="form-label">Managing Reliability Drift</label>
                        <div class="d-flex justify-content-center gap-5">
                            <input type="range" class="form-range" min="0" max="100" value="0" step="1"
                                   name="DriftSlider"
                                   id="Drift" onInput="$('#DriftValue').html($(this).val())">
                            <p><span id="DriftValue">0</span></p>
                        </div>
                    </div>
                </div>

                <div class="forEachColumn">
                    <div class="elementName">
                        <i>Reframing Relating Colleagues Peers</i>
                    </div>

                    <div class="form-group">
                        <label for="Motivation" class="form-label">Institutionalizing Prosocial Motivation</label>
                        <div class="d-flex justify-content-center gap-5">
                            <input type="range" class="form-range" min="0" max="100" value="0" step="1"
                                   name="MotivationSlider"
                                   id="Motivation" onInput="$('#MotivationValue').html($(this).val())">
                            <p><span id="MotivationValue">0</span></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Respect" class="form-label">Fostering Social Ties and Mutual Respect</label>
                        <div class="d-flex justify-content-center gap-5">
                            <input type="range" class="form-range" min="0" max="100" value="0" step="1"
                                   name="RespectSlider"
                                   id="Respect" onInput="$('#RespectValue').html($(this).val())">
                            <p><span id="RespectValue">0</span></p>
                        </div>
                    </div>
                </div>


                <div class="forEachColumn">
                    <div class="elementName">
                        <i>Reframing How the Work Should Be Done</i>
                    </div>

                    <div class="form-group">
                        <label for="Mindfulness" class="form-label">Practicing Individual Mindfulness</label>
                        <div class="d-flex justify-content-center gap-5">
                            <input type="range" class="form-range" min="0" max="100" value="0" step="1"
                                   name="MindfulnessSlider"
                                   id="Mindfulness" onInput="$('#MindfulnessValue').html($(this).val())">
                            <p><span id="MindfulnessValue">0</span></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Accountability" class="form-label">Fostering Sense of Accountability</label>
                        <div class="d-flex justify-content-center gap-5">
                            <input type="range" class="form-range" min="0" max="100" value="0" step="1"
                                   name="AccountabilitySlider"
                                   id="Accountability" onInput="$('#AccountabilityValue').html($(this).val())">
                            <p><span id="AccountabilityValue">0</span></p>
                        </div>
                    </div>
                </div>


                <div class="forEachColumn">
                    <div class="elementName">
                        <i>Reframing Work Communication</i>
                    </div>

                    <div class="form-group">
                        <label for="Huddle" class="form-label">Implementing Safety Huddles</label>
                        <div class="d-flex justify-content-center gap-5">
                            <input type="range" class="form-range" min="0" max="100" value="0" step="1"
                                   name="HuddleSlider"
                                   id="Huddle" onInput="$('#HuddleValue').html($(this).val())">
                            <p><span id="HuddleValue">0</span></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Incidents" class="form-label">Reporting Near-Misses/Incidents</label>
                        <div class="d-flex justify-content-center gap-5">
                            <input type="range" class="form-range" min="0" max="100" value="0" step="1"
                                   name="IncidentsSlider"
                                   id="Incidents" onInput="$('#IncidentsValue').html($(this).val())">
                            <p><span id="IncidentsValue">0</span></p>
                        </div>
                    </div>
                </div>


                <div class="forEachColumn">
                    <div class="elementName">
                        <i>Reframing Work Training</i>
                    </div>

                    <div class="form-group">
                        <label for="Drills" class="form-label">Emergency Drills</label>
                        <div class="d-flex justify-content-center gap-5">
                            <input type="range" class="form-range" min="0" max="100" value="0" step="1"
                                   name="DrillsSlider"
                                   id="Drills" onInput="$('#DrillsValue').html($(this).val())">
                            <p><span id="DrillsValue">0</span></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Exercise" class="form-label">Tabletop Exercises</label>
                        <div class="d-flex justify-content-center gap-5">
                            <input type="range" class="form-range" min="0" max="100" value="0" step="1"
                                   name="ExerciseSlider"
                                   id="Exercise" onInput="$('#ExerciseValue').html($(this).val())">
                            <p><span id="ExerciseValue">0</span></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Learning" class="form-label">Just-In-Time-Learning</label>
                        <div class="d-flex justify-content-center gap-5">
                            <input type="range" class="form-range" min="0" max="100" value="0" step="1"
                                   name="LearningSlider"
                                   id="Learning" onInput="$('#LearningValue').html($(this).val())">
                            <p><span id="LearningValue">0</span></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Debriefings" class="form-label">Post-Event Debriefings</label>
                        <div class="d-flex justify-content-center gap-5">
                            <input type="range" class="form-range" min="0" max="100" value="0" step="1"
                                   name="DebriefingsSlider"
                                   id="Debriefings" onInput="$('#DebriefingsValue').html($(this).val())">
                            <p><span id="DebriefingsValue">0</span></p>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-around">
                    {#					<input type="submit" value="Reset" name="Reset">#}
                    <input id="submit" type="submit" value="Submit" name="Submit">
                </div>
            </div>

            <!-- Remove class [ border-dashed border-2 border-gray-300 ] to remove dotted border -->
            <div class="result-area max-h-screen min-w-600">
                <div class="sec-name flex-sm-column pt-4 pl-4">
                    <h1 class="outputText text-3xl font-weight-bold mt-4">Output / Results</h1>
                    <h2 class="text-l mt-2 mb-4">Model V1.01.2. Type: Base. Access 08.25.21</h2>
                </div>

                <div class="chartCard" id="result-here">
                    <div class="BarchartBox">
                        <canvas id="barChart"></canvas>
                    </div>


                    <div class="radarChartCard">
                        <div class="radarChartBox">
                            <canvas id="radarChart"></canvas>
                        </div>

                        <div class="saveForm d-flex flex-column justify-content-around pt-6 pb-10">
                            <h6>Strategy Name:</h6> <input type="text" name="Name" class="boxInput"
                                                           placeholder="Strategy/test one">
                            <h6>Description:</h6> <textarea rows="3" cols="5" name="Description" spellcheck="true"
                                                            class="boxInput"
                                                            placeholder="Enter a description here..."></textarea>
                            {#							display save button and reset button on the same line#}
                            <div class="d-flex justify-content-between gap-5">
                                <button id="save" type="submit" class="btn btn-primary" value="Save Strategy"
                                        name="Save Strategy"
                                        data-button-state="save">Save Strategy
                                </button>
                                <button id="reset" type="submit" class="btn btn-secondary" value="Reset" name="Reset">
                                    Reset
                                </button>
                            </div>
                        </div>
                    </div>

                    <script>
              // setup
              var data = {
                  labels: {{ principles|tojson }},
                  datasets: [{
                      label: 'Change of Intervention',
                      data: {{ effects|tojson }},
                      backgroundColor: [
                          'rgba(255, 26, 104, 0.2)',
                          'rgba(54, 162, 235, 0.2)',
                          'rgba(255, 206, 86, 0.2)',
                          'rgba(75, 192, 192, 0.2)',
                          'rgba(153, 102, 255, 0.2)',
                          'rgba(0, 0, 0, 0.2)'
                      ],
                      borderColor: [
                          'rgba(255, 26, 104, 1)',
                          'rgba(54, 162, 235, 1)',
                          'rgba(255, 206, 86, 1)',
                          'rgba(75, 192, 192, 1)',
                          'rgba(153, 102, 255, 1)',
                          'rgba(0, 0, 0, 1)'
                      ],
                      borderWidth: 1
                  }]
              };

              // config
              var config = {
                  type: 'bar',
                  data,
                  options: {
                      x: {
                          min: -100,
                          max: 100,
                      },
                      plugins: {
                          legend: {
                              display: false
                          }
                      },
                      events: [],
                      indexAxis: 'y',
                  }
              };

              // render init block
              var myChart = new Chart(
                  document.getElementById('barChart'),
                  config
              );
					</script>


                    <script>
              var data1 = {
                  labels: {{ principles|tojson }},
                  datasets: [{
                      label: 'My First Dataset',
                      data: {{ effects|tojson }},
                      fill: false,
                      backgroundColor: 'rgba(255, 99, 132, 0.2)',
                      borderColor: 'rgb(255, 99, 132)',
                      pointBackgroundColor: 'rgb(255, 99, 132)',
                      pointBorderColor: '#fff',
                      pointHoverBackgroundColor: '#fff',
                      pointHoverBorderColor: 'rgb(255, 99, 132)'
                  }]
              };

              var config1 = {
                  type: 'radar',
                  data: data1,
                  options: {
                      scales: {
                          r: {
                              pointLabels: {
                                  display: false // Hides the labels around the radar chart
                              }
                          }
                      },
                      scale: {
                          min: -100,
                          max: 100,

                      },
                      plugins: {
                          legend: {
                              display: false
                          },
                      },
                      events: [],
                      elements: {
                          line: {
                              borderWidth: 3
                          }
                      }
                  },
              };

              // render init block
              var myChart1 = new Chart(
                  document.getElementById('radarChart'),
                  config1
              );
					</script>
                </div>
            </div>
        </div>
    </form>


    <script>
      $(document).ready(function () {
          $('#save').click(function (e) {
              alert("Successfully saved strategy");
          });
      });
    </script>


    <script>
      //stop refreshing page when click "submit" and only refresh div with id "result"
      $(document).ready(function () {
		$('#submit').click(function (e) {
          //jQuery('#practices').submit(function (e) {
              e.preventDefault();
			  values = $("#practices").serialize()
			  values += "&Submit=Submit";
			  console.log(values)
              $.ajax({
                  type: "POST",
                  url: "/slider",
                  data: values,
                  success: function (response) {
					//var result = $('<div />').append(response).find('#result-here').html();
					$('#result-here').html($('#result-here',response).html());
					console.log({{ effects|tojson }})	//These aren't changed
				  }
              });
		  });
	  });
    </script>
</div>


</body>

</html>
